@import "tailwindcss";
@import "./typography.css";

:root {
  --white: #FFF;
  --black: #000;
  --amber: #fbbf24;

  --bg: #FFF;
  --bg-secondary: #D3D3D3;
  --bg-napit: #F8F9FA;
  --color: #1A1A1A;       
  --color-primary: #3E3E3E;
}

.dark {
  --bg: #121212;
  --bg-secondary: #3E3C3C;
  --bg-napit: #1e1e1e;
  --color: #FFF;
  --color-primary: rgba(255, 255, 255, 0.87);
}

html {
  background-color: var(--bg);
  color: var(--color);
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;

  @media (min-width: 93.75em) {
    padding-left: 0;
    padding-right: 0;
  }
}

.uHiddenVisually {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden;
}
