.centeredText {
  text-align: center;
}

.aboutText {
  margin-bottom: 1rem;
}

.sectionHeading {
  text-align: center;

  &:before {
    content: url('/images/bolt.svg');
    padding-right: 10px;
  }
}

.serviceList {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.serviceItem {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconHeading {
  margin-bottom: 20px;
}

.iconText {
  text-align: center;
}

.itemIcon {
  width: 75px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    width: 100px;
  }

  @media (prefers-color-scheme: dark) {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(142deg) brightness(106%) contrast(105%);
  }
}
