body {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
}

.heading1 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-weight: 800;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .heading1 {
    font-size: 2.5rem;
  }
}

.heading2 {
  font-size: 1.4rem; 
  margin-bottom: 1.2rem;
}

@media (min-width: 768px) {
  .heading2 {
    font-size: 1.777rem;
  }
}

.heading3 {
  font-size: 1.1rem; 
  margin-bottom: 0.2rem;
  line-height: 1.3;
}

@media (min-width: 768px) {
  .heading3 {
    font-size: 1.3rem;
  }
}

.body--bold {
  font-weight: 700;
}

.body--bold-light {
  font-weight: 600;
}

.small-text {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.smallest-text {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}
