.headerWrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 5px;
  
  @media (min-width: 768px) {
    gap: 150px;
    justify-content: flex-start;
  }
}

.hero {
  position: relative;
  background-image: url('/images/masthead.jpg');
  background-size: cover;
  background-position: center;
  min-height: 200px;
  display: flex;
  align-items: center;
  /* Smoothly transition the brightness filter */
  transition: filter 0.3s ease;

  @media (min-width: 768px) {
    min-height: 300px;
    background-image: url('/images/masthead-large.jpg');
  }

  :global(.dark) & {
    filter: brightness(0.7) contrast(1.1);
  }
}

.heroTitle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  color: var(--white);
  font-size: clamp(2rem, 8vw, 5rem);
}

.siteNav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: var(--bg-secondary);
  transition: background-color 0.3s ease;
}

.logoLink {
  display: inline-flex;
}

.logoImage {
  border-radius: 3px;
  background: url('/images/logo.png') no-repeat center / contain;
  min-width: 175px;
  min-height: 80px;

  @media (min-width: 768px) {  
    background: url('/images/logo-horizontal.png') no-repeat center / contain;
    min-width: 250px;
    min-height: 115px;
  }
}

.menuList {
  display: flex;
  margin: 0 auto;
  gap: 1rem;
  list-style: none;

  @media (min-width: 768px) {
    gap: 3rem;
  }
}

.navLink {
  font-size: 1.3rem;
  transition: color 0.3s ease;
  text-decoration: none;
  color: var(--color);

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }

  &:hover {
    color: var(--black);
    
    :global(.dark) & {
      color: var(--white);
    }
  }
}

.skipLink:focus {
  position: static;
  width: auto;
  height: auto;
}
