.footerContainer {
  background-color: var(--bg-secondary);
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  padding: 2rem 1rem;
  color: var(--black);

  @media (min-width: 768px) {
    gap: 2rem;
    padding: 1rem;
    justify-content: space-between;
  }
}

.heading {
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.contactSection {
  flex: 1 1 100%; /* Full width on mobile */
  order: -2;

  @media (min-width: 786px) {
    flex: 1 1 50%; /* Takes up roughly half on desktop */
  }
}

.socialSection {
  flex: 1 1 100%;

  @media (min-width: 768px) {
    flex: 0 1 30%;
  }
}

.backToTopText {
  display: block;
  margin-top: 1.5rem;
}

.socialList {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.copyright {
  width: 100%;
  color: var(--color-primary);
  text-align: center;
  margin-top: 2rem;
}

.contactLink {
  color: var(--color-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}